/example.txt
/lesson1.py
/result.txt
/Tamerlan_23-1_hw2.py
/Tamerlan_23-1_hw3.py
/Tamerlan_23-1_hw4.py
/Tamerlan_23-1_hw5.py
/Tamerlan_23-1_hw6.py
/Tamerlan_23-1_hw7.py
/Tamerlan_23-1_hw8.py
/Tamerlan_Rakhmanberdiev_hw_1.py
/Tamerlan_Rakhmanberdiev_hw_2.py
/Tamerlan_Rakhmanberdiev_hw_3.py
/Tamerlan_Rakhmanberdiev_hw_4.py
/Новая папка